{% extends 'layout.html' %}

{% block content %}
<article class="media content-section">
  <section class="about-section">
    <div class="container">
      <h5>About PostHive</h5>
      <p class="display-5">This blog exists because I wanted to level up my web dev skills.
         Big time. So I decided to go all-in, tackling the back-end,
          database, and front-end in one project. 
          Here's what I learned (and maybe you can learn too) 
          about building full-stack web applications.</p>
          
      <div class="Flask">
        <h5>Built with:</h5>
        <ul>
          <li>Flask</li>
          <li>HTML/CSS</li>
          <li>SQLite3</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="about-me">
        <h5>Solo Dev</h5>
        <p>Michael Oko</p>
        <ul class="social-links">
          <li><a href="https://www.linkedin.com/in/michael-oko-a55256219/" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/Ok-michael/" target="_blank">Github</a></li>
          <li><a href="https://x.com/Mikel_Ok" target="_blank">Twitter</a></li>
        </ul>
      </div>
      <div class="github-link">
        <a href="https://github.com/Ok-michael/Posthive">Explore the Code</a>
        <p>My ALX Foundations portfolio project<p></p>
      </div>
    </div>
  </section>
  </article>

{% endblock content %}

